<!-- 
	Put the skeleton HTML for your Application here
	DO NOT include <html>, <head>, or <body> tags
	
	Create a separate template for any repeatable components
-->

<div>

	<script type="text/template" id="template_app">
	
		<!-- core application skeleton html -->
		<div id="wrapper">
		<header>
			<img src="images/GTM_logo.png" id="logoHead" /><br/>
			<button id="logout_btn" type="submit">Logout</button>
		</header>
		
		<div id="mainBoxTask">
			<div>
			<h2>Projects:</h2>
			<table id="task" class="boxes">
				<tr>
				<td><img src="images/done.png" height="25px" width="25px" /> 
				<td>Project Date</td>
				<td>Project Name</td>
				<td><img src="images/edit.png" height="25px" width="25px" />&nbsp;<img src="images/info.png" height="25px" width="25px" /></td>
				</tr>
				<tr>
				<td><img src="images/urgent.png" height="25px" width="25px" /></td>
				<td>Project Date</td>
				<td>Project Name</td>
				<td><img src="images/edit.png" height="25px" width="25px" />&nbsp;<img src="images/info.png" height="25px" width="25px" /></td>
				</tr>
				<tr>
				<td><img src="images/delayed.png" height="25px" width="25px" /></td>
				<td>Project Date</td>
				<td>Project Name</td>
				<td><img src="images/edit.png" height="25px" width="25px" />&nbsp;<img src="images/info.png" height="25px" width="25px" /></td>
				</tr>
				<tr>
				<td><img src="images/onTime.png" height="25px" width="25px" /></td>
				<td>Project Date</td>
				<td>Project Name</td>
				<td><img src="images/edit.png" height="25px" width="25px" />&nbsp;<img src="images/info.png" height="25px" width="25px" /></td>
				</tr>
				
				
			</table>
			</div>
			
		</div>
		
		<div id="keyBox">
			<a href="#">
			<div id="addButton">ADD JOB
			</div>
			</a>
			<table id="key">
				<tr>
					<td><img src="images/done.png" /></td>
					<td>Complete</td>
				</tr>
				<tr>
					<td><img src="images/urgent.png" /></td>
					<td>Urgent</td>
				</tr>
				<tr>
					<td><img src="images/delayed.png" /></td>
					<td>Delayed</td>
				</tr>
				<tr>
					<td><img src="images/onTime.png" /></td>
					<td>On Time</td>
				</tr>
				<tr>
					<td><img src="images/info.png" /></td>
					<td>More Info</td>
				</tr>
				<tr>
					<td><img src="images/edit.png" /></td>
					<td>Edit</td>
				</tr>
			</table>
					</div>	
					
					<div id="bottomBox">
					</div>			
		
		
		<footer>
		<img src="#fb" />
		<img src="#goggle" />
		<img src="#twitter" />
		&copy; Goblin Enterprises
		</footer>

		
	</div>

	
	</script>
	
	
	<script type="text/template" id="template_task_link">
	
		<!-- repeatable html for task menu -->
	
	</script>
	
	
	<script type="text/template" id="template_task_view">
	
		<!-- repeatable html for full task data in list -->
	
	</script>
	
	
	<!-- more component templates here -->
	
</div>